<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-xl-2">
          <h1 class="mb-0 site-logo"><a href="/" class="h2 mb-0">Impuestar<span class="text-primary">.</span>com</a>
          </h1>
        </div>

        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="#home-section" class="nav-link">Inicio</a></li>
              <!-- <li class="has-children">
                <a href="#about-section" class="nav-link">About</a>
                <ul class="dropdown">
                  <li><a href="#trainers-section" class="nav-link">Trainers</a></li>
                  <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                  <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                  <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
                  <li><a href="#gallery-section" class="nav-link">Gallery</a></li>
                  <li><a href="#blog-section" class="nav-link">Blog</a></li>
                  <li class="has-children">
                    <a href="#">More Links</a>
                    <ul class="dropdown">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li><a href="#trainers-section" class="nav-link">Trainers</a></li>
              <li><a href="#services-section" class="nav-link">Services</a></li>
              <li><a href="#contact-section" class="nav-link">Contact</a></li> -->
              <li><a href="#" class="nav-link">Calculadora (in comming)</a></li>
            </ul>
          </nav>
        </div>


        <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#"
            class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>

  </header>


  <section class="site-blocks-cover overflow-hidden bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-7 align-self-center text-center text-md-left">
          <div class="intro-text">
            <!-- <h1>We Care For <span class="d-md-block">Your Dog</span></h1> -->
            <h1>Listado de impuestos</h1>
            <p class="mb-4">Listado de impuestos que se aplican<span class="d-block"> en argentina.</span></p>
          </div>
        </div>
        <div class="col-md-5 align-self-center text-center text-md-right">
          <img src="https://www.afip.gob.ar/frameworkAFIP/v1/img/logo_afip.png" alt="Image" class="img-fluid cover-img">
        </div>
      </div>
    </div>
  </section>

  <section class="site-section">
    <div class="container">
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-lg-6 text-center heading-section mb-5">
          <div class="paws">
            <span class="icon-paw"></span>
          </div>
          <h2 class="text-black mb-2">El paraiso</h2>
          <!-- <p class="text-left"> -->
          <div class="text-left">
            <ol>
              <li>Impuesto a las ganancias de personas físicas</li>
              <li>Impuesto a las ganancias de sociedades</li>
              <li>Gravamen de emergencia sobre premios de determinados juegos de sorteos y concursos deportivos</li>
              <li>Régimen para los trabajadores en relación de dependencia (Aportes)</li>
              <li>Régimen para los trabajadores en relación de dependencia (Contribuciones)</li>
              <li>Régimen de trabajadores Autónomos</li>
              <li>Régimen para el personal de casas particulares</li>
              <li>Impuesto sobre los Bienes Personales</li>
              <li>Contribución especial sobre el Capital de las Cooperativas</li>
              <li>Impuesto a la Transferencia de Inmuebles de Personas Físicas y Sucesiones Indivisas</li>
              <li>Impuesto sobre los Créditos y Débitos en Cuentas Bancarias y Otras Operatorias</li>
              <li>Impuesto al Valor Agregado</li>
              <li>Impuesto interno al tabaco</li>
              <li>Impuesto interno a las bebidas alcohólicas</li>
              <li>Impuesto interno a las cervezas</li>
              <li>Impuesto interno a las bebidas analcohólicas</li>
              <li>Impuesto interno a los jarabes</li>
              <li>Impuesto interno a los extractos y concentrados</li>
              <li>Impuesto interno a las champañas</li>
              <li>Impuesto interno a los objetos suntuarios</li>
              <li>Impuesto interno a los vehículos automóviles y motores</li>
              <li>Impuesto interno a las embarcaciones y aeronaves de recreo o deportes</li>
              <li>Impuesto interno a productos electrónicos</li>
              <li>Impuesto interno a los seguros</li>
              <li>Impuesto interno a la telefonía satelital</li>
              <li>Impuestos sobre los Combustibles Líquidos y al Dióxido de Carbono</li>
              <li>Impuesto a la Energía Eléctrica</li>
              <li>Impuesto Adicional de Emergencia sobre Cigarillos</li>
              <li>Fondo Especial del Tabaco</li>
              <li>Impuesto a las Entradas de Espectáculos Cinematográficos</li>
              <li>Impuestos a los Videogramas Grabados</li>
              <li>Impuesto a los Servicios de Comunicación Audiovisual</li>
              <li>Recargo al Gas Natural</li>
              <li>Impuesto Específico sobre la Realización de Apuestas</li>
              <li>Impuestos Indirecto sobre Apuestas Online</li>
              <li>Derechos de Importación</li>
              <li>Derechos de Exportación</li>
              <li>Tasa de Estadística</li>
              <li>Impuesto a los Pasajes al Exterior</li>
              <li>Impuesto a la renta financiera</li>
              <li>Régimen Simplificado Para Pequeños Contribuyentes (Monotributo)</li>
              <li>Impuesto PAIS</li>
              <li>Impuesto inmobiliario</li>
              <li>Impuesto sobre los ingresos brutos (Incluye el "Impuesto a las actividades económicas" de Salta)</li>
              <li>Impuesto a los sellos</li>
              <li>Impuesto a los automotores (Incluye el "Impuesto a las embarcaciones" de Salta, "Patente única sobre
              </li>
              <li>vehículos de Santa Fe y "Patentes sobre los vehículos en general y de las embarcaciones deportivas" de
              </li>
              <li>CABA).</li>
              <li>Impuesto a las Loterías, Rifas, Concursos, Sorteos y otros Juegos de Azar (Incluye "Premios obtenidos
                por</li>
              <li>máquinas tragamonedas" de Corrientes, "Impuesto a la Tómbola", de Salta e "Impuesto al juego de
                quiniela
                y</li>
              <li>lotería combinada", de Mendoza).</li>
              <li>Impuesto a la transmisión gratuita de bienes</li>
              <li>Impuesto a la generación de residuos sólidos urbanos húmedos no recicable</li>
              <li>Impuesto a la Generación de Residuos Áridos y afines no reutilizable</li>
              <li>Impuesto por el uso y ocupación de la superficie, espacio aéreo y subsuelo de la vía pública</li>
              <li>Impuesto a los productos forestales</li>
              <li>Impuesto a los combustibles derivados del petróleo</li>
              <li>Impuesto sobre las actividades de hipódromos, similares y agencias de apuestas</li>
              <li>Impuestos para la Salud Pública</li>
              <li>Impuesto al ejercicio de profesiones liberales</li>
              <li>Impuesto a la transferencia de mejoras y derecho en tierra fiscal</li>
              <li>Derecho de delineación y construcción</li>
              <li>Gravámenes sobre estructuras, soportes o portantes de antenas - Derechos de instalación y tasa por
                servicio</li>
              <li>de verificación</li>
              <li>Derecho de capacidad constructiva</li>
              <li>Derechos de Cementerios</li>
              <li>Derecho de Timbre</li>
              <li>Derecho de extracción de minerales</li>
              <li>Derecho de explotación de minerales</li>
              <li>Derechos de explotación de áridos</li>
              <li>Tasas retributivas de servicios: Servicios Administrativos</li>
              <li>Tasas retributivas de servicios: Actuaciones judiciales</li>
              <li>Tasas retributivas de servicios: Otras</li>
              <li>Tasa por depósito de mercaderías en infracción</li>
              <li>Tasa de uso de agua de dominio público</li>
              <li>Tasa de pesca</li>
              <li>Gravámenes que inciden sobre el abasto - Tasa por limpieza de ferias</li>
              <li>Contribución que incide sobre compañías de electricidad</li>
              <li>Contribución por publicidad</li>
              <li>Contribución por mejoras</li>
              <li>Canon de riesgo</li>
              <li>Cooperadoras asistenciales</li>
              <li>Fondo de financiamiento de obras de infraestructura (FFOI)</li>
              <li>Fondo de financiamiento del sistema educativo de la Provincia de Córdoba (FOFISE)</li>
              <li>Fondo de reparación social</li>
              <li>Fondo de emergencia agropecuaria</li>
              <li>Fondo de Financiamiento de Servicios Sociales</li>
              <li>Fondo de Financiamiento para el Sistema Previsional</li>
              <li>Tasa por Servicios Generales</li>
              <li>Tasa por Servicios Especiales de Limpieza e Higiene</li>
              <li>Tasa por Habilitación de Comercio e Industria</li>
              <li>Tasa por Inspección de Seguridad e Higiene</li>
              <li>Derechos por publicidad y Propaganda</li>
              <li>Impuesto Automotor</li>
              <li>Derecho de Oficina</li>
              <li>Derecho de Construcción</li>
              <li>Derechos de Ocupación o Uso de Espacios Públicos</li>
              <li>Derecho de Ocupación o Uso de Espacios Privados Municipales</li>
              <li>Derecho a los Espectáculos Públicos</li>
              <li>Patentes de Rodados</li>
              <li>Tasa por control de Marca y Señales</li>
              <li>Derecho de Cementerio</li>
              <li>Tasa por inspección de Pesas y Medidas</li>
              <li>Tasa por Servicios Varios</li>
              <li>Contribución por Mejoras - Obras con recobro municipal</li>
              <li>Contribución especial por Pavimientos y Veredas</li>
              <li>Tasa por conversación de la red vial municipal</li>
              <li>Tasa por Control de Calidad de Obra en la vía pública</li>
              <li>Derechos de registro por emplazamiento de estructuras, soporte de antenas, equipo complementarios y de
              </li>
              <li>publicidad y propaganda, telecomunicaciones, etc.</li>
              <li>Derechos de verificación por emplazamiento de estructuras, soporte de antenas, equipos complementarios
                y
                de</li>
              <li>publicidad y propaganda, telecomunicaciones, etc.</li>
              <li>Contribuciones especial por acciones de seguridad</li>
              <li>Contribución de la provincia de Buenos Aires</li>
              <li>Tasa por Alumbrado Público</li>
              <li>Tributo por Plusvalía Urbanística</li>
              <li>Contribución por los servicios adicionales municipales</li>
              <li>Contribución que incide sobre los servicios de protección sanitaria</li>
              <li>Derechos por control bromatológico y salubridad (Alimentos)</li>
              <li>Tasa por servicio de inspección veterinario</li>
              <li>Tasa por búsqueda y rescate</li>
              <li>Contribución que incide sobre los mercados</li>
              <li>Contribución que incide sobre la instalación mecánica y sobre la instalación y suministro de energía
              </li>
              <li>eléctrica</li>
              <li>Contribución especial sobre los consumos de gas natural</li>
              <li>Contribución para la financiación del desarrollo de la infraestructura sanitaria y cloacal</li>
              <li>Contribución ambiental por generación y transporte de restos de obras y demoliciones</li>
              <li>Contribución que incide sobre evaluación y fiscalización impacto medioambiental / riesgo ambiental
              </li>
              <li>Contribución para financiación del desarrollo local y regional de obra de gas natural y otras de
                interés
              </li>
              <li>Contribución para obras públicas</li>
              <li>Impuesto inmobiliario</li>
              <li>Tasa por juegos de azar, juegos permitidos, rifas, etc</li>
              <li>Derecho de registro inmobiliario y catastro</li>
              <li>Tasa por servicios de limpieza y desmalezamiento de baldíos, inmuebles destruidos o semidestruidos y
                casas</li>
              <li>abandonadas</li>
              <li>Tasa por residuos sólidos urbanos y residuos peligrosos</li>
              <li>Impuesto al mayor valor del bien libre de mejoras (Baldíos)</li>
              <li>Derechos por venta ambulante</li>
              <li>Derechos de registro de conductor</li>
              <li>Transporte público y remoción y estadía en general. Habilitación de vehículos</li>
              <li>Derecho de uso de instalaciones municipales</li>
              <li>Derecho de la estación de la terminal de ómnibus</li>
              <li>Tasas y derechos prestados por la dirección hidráulica</li>
              <li>Derechos de suelo, hormigón y asfalto</li>
              <li>Derechos de explotación de minas de tercera categoría</li>
              <li>Contribución que incide sobre el uso de playas y riberas</li>
              <li>Contribución por servicios culturales</li>
              <li>Contribución para servicios de justicia</li>
              <li>Tasa por uso del vertedero municipal</li>
              <li>Contribución de servicios prestados en el matadero municipal</li>
              <li>Fondo municipal de promoción y asistencia a la comunidad y turismo</li>
              <li>Tasa única aeroportuaria Municipal</li>
              <li>Contribución transporte público de pasajeros</li>
              <li>Tasa por los servicios adicionales de la policía de tránsito</li>
              <li>Derecho especial de funcionamiento de remises, taxis y transportes escolares</li>
              <li>Derecho por habilitación e inspección de vehículos</li>
              <li>Tasa de salud</li>
              <li>Tasa de deportes</li>
              <li>Derechos de uso y servicios planta procesadora productos de mar</li>
              <li>Contribución por servicios asistenciales</li>
              <li>Contribuciones sobre la introducción de mercaderías a los mercados</li>
              <li>Tasa de verificación</li>
              <li>Tasa sobre el Financiamiento Otorgado por la Caja de Crédito Municipal a Personas Humanas o Jurídicas
              </li>
              <li>Tasa de visación de planos y mensuras, relevamiento</li>
              <li>Tasa por vacunación antirrábica</li>
              <li>Tasa por cobranzas y retenciones</li>
              <li>Tasa por servicios de máquinas, equipos y otros de prestación municipal</li>
              <li>Tasa por desagote de pozos ciegos y cámaras sépticas</li>
              <li>Tasa de desinfacción, desinsectación y desratización</li>
              <li>Tasa por control de animales en la vía pública</li>
              <li>Canon por la concesión de servicios públicos</li>
              <li>Venta de impresos y publicaciones municipales</li>
              <li>Tasas únicas industriales</li>
              <li>Derecho de la matrícula de electricista</li>
              <li>Impuesto a la transferencia de inmuebles</li>
            </ol>
          </div>
          <!-- </p> -->
        </div>
      </div>

      <!-- <div class="row hover-1-wrap mb-5 mb-lg-0">
        <div class="col-12">
          <div class="row">
            <div class="mr-auto align-self-center order-lg-1" data-aos="fade-left">
              <h2 class="text-black">Love &amp; Care</h2>
              <p class="">Far far away, behind the word mountains, Separated they live in Bookmarksgrove right at
                the coast of the Semantics, a large language ocean.</p>
              <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>Porque estoy re podrido y me gusto armar un lindo ejemplo, a futuro, mejorarlo.</p>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="/" class="smoothscroll">Home</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h2 class="footer-heading mb-4">Encontrame en</h2>
              <a href="http://github.com/ralcorta" class="pl-0 pr-3"><span class="icon-github"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p class="copyright"><small>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made
                with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="http://github.com/ralcorta"
                  target="_blank">Rodri</a>
              </small></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div> <!-- .site-wrap -->